@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: url("img/bg.jpg") no-repeat center center/cover;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.container {
  height: 300px;
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: scale(1);
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
